@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');

@font-face {
	font-family: 'league_gothic';
	src: url('../fonts/leaguegothic-regular-webfont.eot');
	src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
		 url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
		 url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
		 url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 960px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';

@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';

@import 'layout/content';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/slider';

